

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('../fonts/AGaramondPro-Regular.woff2') format('woff2'),
        url('../fonts/AGaramondPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('../fonts/AGaramondPro-Italic.woff2') format('woff2'),
        url('../fonts/AGaramondPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('../fonts/AGaramondPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/AGaramondPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('../fonts/AGaramondPro-Bold.woff2') format('woff2'),
        url('../fonts/AGaramondPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}





@font-face {
    font-family: 'BlairITC TT';
    src: url('../fonts/BlairITCTTBold.woff2') format('woff2'),
        url('../fonts/BlairITCTTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt Lt';
    src: url('../fonts/ProximaNovaA-Light.woff2') format('woff2'),
        url('../fonts/ProximaNovaA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
.
@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/AcuminPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Regular.woff2') format('woff2'),
        url('../fonts/AcuminPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Bold.woff2') format('woff2'),
        url('../fonts/AcuminPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Italic.woff2') format('woff2'),
        url('../fonts/AcuminPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Proxima Nova Alt Th';
    src: url('../fonts/ProximaNovaA-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaA-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('../fonts/ProximaNovaA-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNovaA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}




font-face {
    font-family: 'BigCaslon';
    src: url('../fonts/BigCaslon-Rom.woff2') format('woff2'),
        url('../fonts/BigCaslon-Rom.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}



@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-Regular.woff2') format('woff2'),
        url('../fonts/BioSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-Italic.woff2') format('woff2'),
        url('../fonts/BioSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/BioSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-LightItalic.woff2') format('woff2'),
        url('../fonts/BioSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/BioSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/BioSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/BioSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-SemiBold.woff2') format('woff2'),
        url('../fonts/BioSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-Light.woff2') format('woff2'),
        url('../fonts/BioSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/BioSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-Bold.woff2') format('woff2'),
        url('../fonts/BioSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('../fonts/BioSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/BioSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

